<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <servlet>
        <servlet-name>com.example.sandboxy.Sandboxy Info</servlet-name>
        <servlet-class>com.example.sandboxy.server.InfoImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.example.sandboxy.Sandboxy Info</servlet-name>
        <url-pattern>/Sandboxy/info</url-pattern>
    </servlet-mapping>

    <!-- Servlets -->

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Sandboxy.html</welcome-file>
    </welcome-file-list>



</web-app>
